@media screen and (max-width: 1024px) {

    body{
        margin:0;
        overflow-x: hidden;
    }
    

/* Top Bar Starts Here */
.topbar{
    width: 100%;
    height: 50px;
    left: -1.02px;
    top: 66.43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 20px;

}

.topbar .comp-name {  
    margin-right: 8em; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vh;
 
    color: #303030;
}

.topbar .comp-number { 
    margin-right: 7em;   
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vh;
 
    color: #303030;
}

.topbar .top-btn {
    margin-right: 5em;
    width: 135px;
    height: 38px;
    background: #DB3656;
    border-radius: 6px;
    border: 0;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7vh;
    color: white;    
}

.topbar .menu-icon {
    width: 40px;
    height: 30px;
    display: none;
}

/* Top Bar ends here */



/* Nav-Bar starts here */

.navbar{
    width: 100%;
    height: 60px;
    left: -1.02px;
    top: 66.43px;
    background: #285F71;
    display: flex;
    align-items: center;
    justify-content: right;  
}

.navbar .nav-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
     padding: 0;
    margin-right: 5em;

}

.nav-list .nav-item {
    float: left;
    margin-left: 3em;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vh;
    line-height: 20px;
    color: white;
    
}

.nav-list .nav-item a{
    text-decoration: none;
    color: #ffffff;
}

/* Nav-Bar ends here */


/* Logo starts here */

.logo {
    position: absolute;
    background-color: white;
    height: 168px;
    width: 168px;
    top: 0;
    margin-left: 100px;
    z-index: 1;   
    display: flex;
    align-items: center; 
    justify-content: center;
}

.logo .comp-logo {
    width: 126;
    height: 89;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Logo ends here */

/* Hero Section Starts here */

.hero{
    position: relative;
    height: 595px;
    width: 100%;
    margin-top: -2px;
}

.hero .hero-heading p{    
    font-size: 5.5em;    
}

.abt-hero-overlay {
    position: relative;
    height: 595px;
    width: 100%;
    margin-top: -2px;
}

/* Hero Section Starts here */




       /* Footer starts here */

.footer {
width: 100%;
height: auto;

display: flex;
flex-direction: column;
}

.full-footer {
margin-top: 360px;
margin-bottom: 0px; 

}

.footer-main {
width: 100%;
height: auto;
background-color: #285F71;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding-left: 20px;
padding-right: 20px;

}

.footer-section1 {
width: 90%;
height: auto;
padding: 40px;

margin-top: 82px;
}

.footer-social-icons {
float: left;
}

.footer-social-icons img {
height: 28px;
width: 28px;
margin-right: 35px;
margin-top: 20px;
}

.footer-section1 p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}

.footer-section2 {
width: 90%;
height: auto;

margin-top: 30px;
display: flex;

justify-content: flex-start;
}

.footer-section2 ul {
text-decoration: none;
list-style-type: none;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #FFFFFF;
float: left;


}

.footer-li a {
text-decoration: none;
color: #ffffff;

}



.footer-section3 {
width: 90%;
height: auto;

margin-top: 30px;
display: flex;  
justify-content: flex-start;
}

.footer-section3 ul {
text-decoration: none;
list-style-type: none;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #FFFFFF;

}

.footer-bottom {
width: 100%;
height: auto;
border-color: #ffffff;
border-style: solid;
border-width: 1px 0 0 0;
background-color: #285F71;  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.ftr-btm-txt {
width: 95%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

}

.ftr-btm-txt p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 20px;
/* identical to box height, or 260% */
width: 90%;


color: #FFFFFF;
}

.pop-footer {
position: absolute;
z-index: 1;
width: 90%;
height: 322px;
margin-top: 100px;
margin-left: 5%; 
padding-left: 4%;  

background: #DB3656;
border-radius: 18px;

display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}

.pop-footer-text {
width: 80%;
}

.pop-footer h3 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 36px;
/* or 138% */


color: #FFFFFF;
}

.pop-footer p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #FFFFFF;

}

.pop-footer-btn {
height: 60px;
width: 35%;    
padding-right: 10%;


}

.pop-footer-btn button {
width: 190.52px;
height: 50px;
background: #DB3656;
border: 2px solid #FFFFFF;
border-radius: 4px;
cursor: pointer;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;

float: left;

}


 /* Footer ends here */
    
    
    }


    @media only screen and (max-width: 431px) {

        body{
            margin:0;
            overflow-x: hidden;
        }
        
    
        /* Top Bar Starts Here */
        .topbar{
        
            padding-right: 10px;
            height: 60px;
        
        }
        
        .topbar .comp-name {  
           display: none;
        }
        
        .topbar .comp-number { 
            display: none;
        
        }
        
        .topbar .top-btn {
           display: none;
        }
        
        /* Mobile menu links*/

        .topbar .menu-icon {
            position: relative;
           
            display: block;
            width: 50px;
            height: 53px;
            opacity: .5;
            z-index: 4;
            
    
        }

        
        .topbar #myLinks {
            display: none;
          }
        
          .mobile-menu {
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            background-color: #285F71;
            z-index: 2;
            padding: 20px;
            padding-top: 60px;
            
          }
        
          .mobile-menu a{
            height: auto;
            width: 100%;
            height: auto;
            color: white;
            font-size: 18px;
            line-height: 16px;
            z-index: 3;
            text-decoration: none;
            display: block;
            padding: 25px;
            
          }

          .mm-a-active {

            background-color: #1c4a5a;

          }
        
        /* Top Bar ends here */   
        
        
        /* Nav-Bar starts here */
        
        .navbar{
           display: none;
        }
        
        .navbar .nav-list {
            display: none;
        
        }
        
        
        
        /* Nav-Bar ends here */
        
        
        /* Logo starts here */
        
        .logo {
            position: absolute;
            background-color: white;
            height: 95px;
            width: 85px;
            top: 0;
            margin-left: 30px;
            z-index: 1;   
            display: flex;
            align-items: center; 
            justify-content: center;
        }
        
        .logo .comp-logo {
            width: 80px;
            height: auto;
            z-index: 2;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
        
        /* Logo ends here */
        
        /* Hero Section Starts here */
        
        .hero{
            position: relative;
            height: auto;
            width: 100%;
            /* background: url(/westfordeducation/images/single-article/hero-bg.png); */
            margin-top: -2px;
            background-position: center;
            bottom: 0;
         
           
        }

        .hero-centre {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .hero-lar {
            display: none;
        }

        .hero-mob {
            display: block;
        }

        .hero-img {
            width: 95%;
            height: auto;
        }

        .hero-img img{
            width: 100%;
            height: auto;
        }
    
       
        
        
    .hero .hero-heading p{
            position: absolute;
            margin-top: 30%;
            margin-left: 5%;
            font-size: 2.5em;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            color: #FFFFFF;
    }
        
/* Hero Section Starts here */



.full-article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.fa-centre-both {
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.full-article-left {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.full-article-left h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #303030;
    width: auto;

}

.full-article-left h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #303030;
    width: auto;

}

.full-article-right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.full-article-right h3 {
    text-align: center;

}

.art-img img{
    width: 100%;
    height: auto;
}

.blog-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}












    
       
    
/* Footer starts here */
    
    .footer {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    }
    
    .full-footer {
    margin-top: 360px;
    margin-bottom: 0px; 
    
    }
    
    .footer-main {
    width: 100%;
    height: auto;
    background-color: #285F71;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    
    }
    
    .footer-section1 {
    width: 90%;
    height: auto;
    padding: 40px;
    
    margin-top: 82px;
    }
    
    .footer-social-icons {
    float: left;
    }
    
    .footer-social-icons img {
    height: 28px;
    width: 28px;
    margin-right: 35px;
    margin-top: 20px;
    }
    
    .footer-section1 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    }
    
    .footer-section2 {
    width: 90%;
    height: auto;
    
    margin-top: 30px;
    display: flex;
    
    justify-content: flex-start;
    }
    
    .footer-section2 ul {
    text-decoration: none;
    list-style-type: none;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    float: left;
    
    
    }
    
    .footer-li a {
    text-decoration: none;
    color: #ffffff;
    
    }
    
    
    
    .footer-section3 {
    width: 90%;
    height: auto;
    
    margin-top: 30px;
    display: flex;  
    justify-content: flex-start;
    }
    
    .footer-section3 ul {
    text-decoration: none;
    list-style-type: none;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    
    }
    
    .footer-bottom {
    width: 100%;
    height: auto;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px 0 0 0;
    background-color: #285F71;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }
    
    .ftr-btm-txt {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    }
    
    .ftr-btm-txt p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    /* identical to box height, or 260% */
    width: 90%;
    
    
    color: #FFFFFF;
    }
    
    .pop-footer {
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 322px;
    margin-top: 100px;
    margin-left: 5%; 
    padding-left: 4%;  
    
    background: #DB3656;
    border-radius: 18px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }
    
    .pop-footer-text {
    width: 80%;
    }
    
    .pop-footer h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    /* or 138% */
    
    
    color: #FFFFFF;
    }
    
    .pop-footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    color: #FFFFFF;
    
    }
    
    .pop-footer-btn {
    height: 60px;
    width: 35%;    
    padding-right: 10%;
    
    
    }
    
    .pop-footer-btn button {
    width: 190.52px;
    height: 50px;
    background: #DB3656;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    
    float: left;
    
    }
    
    
     /* Footer ends here */
        
        
        }
