.nav-item a{
cursor: pointer;
}

.logo{
    left: 10%;
    margin-left: 0 !important;
    height: 140px !important;
    width: 168px !important;
    top: -0.5% !important;
}
.navbar{
    transition: height 0.5s ease;
}
@media (max-width:1040px) {
    .nav-list{
        margin-right: 5% !important;

    }
    .topbar .top-btn{
        margin-right: 5% !important;
    }
}
@media (max-width:900px) {
    .logo{
        left: 5%;
    }
    .comp-name,.comp-number{
        margin-right: 5% !important;
    }
}
@media (max-width:810px) {
    .nav-list{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        height: 0 ;
        overflow: hidden;
        /* justify-content: center !important; */
        /* position: fixed; */
    }
    .menu-icon{
        display: block !important;
    }
    .nav-item{
        font-size: 1rem !important;
        margin-top: 1rem;
    }

}
@media (max-width:650px) {
    .comp-name,.comp-number,.top-btn{
        display: none;
    }
}
@media (max-width:960px) {
    .footer-main{
        flex-direction: column;
        height: fit-content;
    }
    .footer-section1{
        width: 90% !important;
        margin-top: 20rem;
    }
    .footer-section2{
        width: 90% !important;
    }
    .footer-section3{
        width: 90% !important;
    }
    .footer-main{
        padding: 0 !important;
    }
    .footer{
        margin-top: 20%;
    }
    .pop-footer{
        margin-top: -15%;
    }
    .footer-section2{
        justify-content: flex-start;
    }
    .footer-section3{
        justify-content: flex-start;
    }
}
@media (max-width:900px) {
    .pop-footer{
        flex-direction: column;
    }
}



